conversation(display_name="Cedric")
  case lastResponse
    when "nice_to_meet"
    when "you_seem_nice"
      statement#final
    when "1"
      statement#hardware
    when "2"
      statement#hardware
    when "3"
      statement#hardware
    when "4"
      statement#hardware
    when "5"
      statement#arrays
    when "6"
      statement#arrays
      responses

    when "who_are_you"
      statement#cedric
      responses
        response#nice_to_meet.
          Nice to meet you!
        response#you_seem_nice.
          You seem nice!
    
    when "what_next"
      statement#cedric2
      responses
        response#ok.
          Ok, great!
        response#thanks.
          Thank you!

    when "tell_me_a_joke"
      statement#joke
      responses
        response#1.
          01?
        response#2.
          1
        response#3.
          0
        response#4.
          True

    when "tell_me_a_joke_2"
      statement#joke2
      responses
        response#5.
          Bad boss?
        response#6.
          Bad code?

    default
      statement#default
      responses
        response#who_are_you.
          Hello, who are you?
        response#what_next.
          What should I do next?
        response#tell_me_a_joke.
          Tell me a joke.
        response#tell_me_a_joke_2.
          Tell me another joke.

  statements
    statement#default
      text.
        #[span.highlight Continue to the terminal] and bring down the laser barriers.
    statement#cedric
      text.
        I am Cedric, your Cloud navigational assistant!
    statement#final
      text.
        Thank you! Now get exploring!
    statement#cedric2
      text.
        Walk up to the terminal, press the #[span.highlight SPACE] button, and bring down the laser barriers.
    statement#joke
      text.
        How many programmers does it take to change a light bulb?
    statement#hardware
      text.
        None, its a hardware problem.
    statement#joke2 
      text.
        Why did the programmer quit his job?
    statement#arrays
      text.
        Because he didn't get arrays.
